#myDiv{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: green;
    margin-top: 20px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #4ACF50;
}

.alert.info {
    background-color: #2196f3;
}

.alert.warning {
    background-color: #ff9800;
}

.closeBtn {
    margin-left: 15px;
    color:white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeBtn:hover {
    color: black;
}
